body, canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: Fanwood;
    src: url(fonts/webfontkit-20220418-034242/fanwoodtext-regular-webfont.woff);
}

body{
    position: relative;
    width: 100%;
    height: 100%;
}

html{
    width: 100%;
    height: 100%;
}

/* border and background styles */
.grassDirt{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile157.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile050.png') 33% round !important;
}

.sandDirt{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile160.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile050.png') 33% round !important;
}

.stoneDirt{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile159.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile050.png') 33% round !important;
}

.dirtGrass{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile158.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile119.png') 33% round !important;
}

.sandGrass{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile160.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile119.png') 33% round !important;
}

.stoneGrass{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile159.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile119.png') 33% round !important;
}

.grassSand{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile157.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile188.png') 33% round !important;
}

.dirtSand{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile158.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile188.png') 33% round !important;
}

.stoneSand{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile159.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile188.png') 33% round !important;
}

.grassStone{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile157.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile257.png') 33% round !important;
}

.dirtStone{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile158.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile257.png') 33% round !important;
}

.sandStone{
    border: 10px solid transparent !important;
    padding: 15px;
    background-image: url('assets/PNG/Default size/towerDefense_tile160.png') !important;
    border-image: url('assets/PNG/Default size/towerDefense_tile257.png') 33% round !important;
}

.blurredBackground{
    backdrop-filter: blur(5px);
}

/* slider css */
.sliderHolder{
    display:flex;
}
.sliderText{
    display: inline-block;
    float: left;
    width: 30%;
}

.sliderSlider{
    width: 100%;
    float: left;
    display: inline-block;
}

.slider {
    width: 100%;
    outline: none;
    display: inline-block;
    float: left;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}

.slider::-moz-range-thumb {
    cursor: pointer;
}

/* main menu css */
#mainMenu{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/html/background_screenshot.png");
    background-size: cover;
    /* object-fit: cover; */
  
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */
}

#mainMenu button{
    box-sizing: border-box;
    border: 0.2rem;
    border-style: solid;
    border-width: 0.4rem;
    border-radius: 0.2rem;

    position: relative;
    
    font-family: Fanwood;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
#mainMenu button .buttonPointer{
    background-image: url('assets/PNG/Default size/towerDefense_tile295.png') !important;
    background-size: contain;

    height: 5rem;
    width: 5rem;

    left: -5rem;
    top: calc(50% - 2.5rem);

    visibility: hidden;

    box-sizing: border-box;

    position: absolute;
    transform: rotate(-90deg);;
}

#mainMenu button:hover .buttonPointer{
    visibility: visible !important;
}

#mainMenu #buttonHolder{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70%;
}

/* level choose menu css */
#levelChoose{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/html/background_screenshot.png");
    background-size: cover;
    /* object-fit: cover; */
  
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */
}

#levelChoose #buttonHolder{
    display: inline-block;
    width: 60%;
    height: 60%;
    text-align: center;
}

#levelChoose button{
    box-sizing: border-box;
    border: 0.1rem;
    border-style: solid;
    border-width: 0.3rem !important;
    border-radius: 0.2rem;

    width: 3rem;
    height: 3rem;

    padding: 0rem;
    margin: 0.2rem;

    position: relative;
    
    font-family: Fanwood;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

#levelChoose button p{
    position: absolute;
    display: inline-block;
    left: 0rem;
    top: 0rem;
    margin: 0rem;
    padding: 0rem;

    width: 100%;
    height: 100%;
}

#levelChoose button .buttonPointer{
    background-image: url('assets/PNG/Default size/towerDefense_tile295.png') !important;
    background-size: contain;

    height: 5rem;
    width: 5rem;

    left: -5rem;
    top: calc(50% - 2.5rem);

    visibility: hidden;

    box-sizing: border-box;

    position: absolute;
    transform: rotate(-90deg);;
}

#levelChoose button .buttonPointer:hover{
    pointer-events: none;
}

#levelChoose button:hover .buttonPointer{
    visibility: visible !important;
}

/* game menu css */
#gameMenu{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}
#gameTools{
    display: flex;
    flex-direction: row;
}
#turretButtonHolder{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding-right: 1rem;
}
#statHolder{
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding-left: 1rem;
    vertical-align: center;

    font-family: Fanwood;
    font-size: 32px;
    /* font-weight: bolder; */
    color: black;
}
#healthStat{
    width: 50%;
    display: inline;
}
#coinStat{
    width: 50%;
    display: inline;
}

#toolHolder{
    padding-top: 0.3rem;
    flex-grow: 0;
    flex-shrink: 0;
}

#tilesheetCanvas{
    position: absolute;
    left: 0rem;
    top: 0rem;
}

#mapEditToolHolder{
    overflow-x: auto;
}

.mapEditButton{
    width:32px;
    height:32px;
    background-image: url('assets/Tilesheet/towerDefense_tilesheet@2.png');
    background-position: -0px -0px;
    background-size: 736px 416px;
}

#gameToolHolder{
    overflow-x: auto;
    text-align: right;
}

.gameButton{
    margin: 0.1rem;
}

.gameButton .gameButtonImage{
    width:32px;
    height:32px;
    background-image: url('assets/Tilesheet/towerDefense_tilesheet@2.png');
    background-position: -0px -0px;
    background-size: 736px 416px;
    margin: 0.1rem;
}

.gameButton .gameButtonPriceDisplayer{
    margin: 0.1rem;
    font-family: Fanwood;
    font-size: 12px;
    /* font-weight: bolder; */
    color: black;
}

#additionalButtonHolder{
    width: 20%;
}

#additionalButtonHolder #settingsButton{
    background-color: lightgray;
    border: none;
    padding: 0rem;
    box-sizing: border-box;
}

#additionalButtonHolder #settingsButtonImage{
    width:32px;
    height:32px;
    background-image: url('assets/Tilesheet/towerDefense_tilesheet@2.png');
    background-position: -512px -96px;
    background-size: 736px 416px;
}

#canvasHolder{
    flex-grow: 1;
    flex-shrink: 1;
}

#canvas-id{
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: 1;
    padding: 0px !important;
    box-sizing: border-box;
}

#updatable-canvas{
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: 5;
}

#gameMenu #pauseMenuHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
}

#gameMenu #pauseMenu{
    box-sizing: border-box;
    width: 30%;
    height: min-content;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

#gameMenu #pauseMenu button{
    width: 60%;
    margin-bottom: 0.5rem;
}

#gameMenu #pauseMenu button:last-of-type{
    margin-bottom: 0rem !important;
}

#gameMenu #pauseMenu #pauseMenuButtonHolder{
    width: 100%;
    height: 100%;
}

#gameMenu #pauseMenu #pauseMenuSettings{
    width: 100%;
    height: 100%;
}